

@{
    ViewData["Title"] = "Home Page";
}

<script src="js/websocket.js" defer></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="app">
        
    </div>
    <div id="chatbox">
        <div id="chat" class="overflow-auto"></div>
        <input type="text" id="text_field"/>
        <button id="send">Отправить</button>
    </div>
</div>


